*.inc
*.la
*.lo
*.o
.deps
.gdb_history
.libs
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
config.log
config.status
config.sub
configure
core
depcomp
include/corgi/config.h
include/corgi/config.h.in
include/corgi/config.h.in~
include/corgi/constants.h
include/corgi/stamp-h1
install-sh
libtool
ltmain.sh
m4
missing
src/corgi
tests/test-corgi
