*.inc
*.la
*.lo
*.o
.deps
.gdb_history
.libs
Makefile
Makefile.in
_configs.sed
aclocal.m4
autom4te.cache
compile
config.guess
config.log
config.status
config.sub
configure
core
depcomp
doc/conf.py
doc/doctrees
doc/html
doc/index.rst
include/corgi/config.h
include/corgi/config.h.in
include/corgi/config.h.in~
include/corgi/constants.h
include/corgi/stamp-h1
install-sh
libtool
ltmain.sh
m4
missing
rc
src/Makefile
src/corgi
tests/Makefile
tests/test-corgi
